
.body{
	margin : 0px auto;
	weight:100%;
}


#firstPage{
	height : 400px;
	width : 400px;
	border : 3px black solid;
	margin:10% 37%;
	background-color: #339966;
	text-align:center;
}

#scoreBoard{
	font-size: 120%;
}

#levelContent{
	float:left;
	font-size: 120%;
	padding-top:15%;
	padding-left:15%;
	}

#levelSelection{
	float:left;
	font-size: 120%;
	padding-left:5%;
	padding-top:20%;
	margin-bottom:10%;
}

#startButton{
	clear:both;
	border:3px black solid;
	width:150px;
	margin:10% 33%;
	padding:7% 0%;
	font-weight:bold;
	font-size:150%;
}

#startButton:hover{
	background-color:#1F5C1F;
}

#secondPage{
	border : 5px solid black;
	margin:5% 30%;
	padding-top:1%;
}

#timer{
	float:left;
	font-size: 150%;
	margin-left:30%;
	margin-bottom:5%;
}

#score{
	float:left;
	font-size: 150%;
	margin-left:0%;
	margin-bottom:5%;

}

#pause{
	float:left;
	width: 80px;
	font-size: 150%;
	text-align:center;
	margin-left:0%;
	margin-bottom:5%;
	padding-bottom:5px;
	font-weight:bold;
}

#divCanvas{
	clear:both;
	margin-left:15%;
}

@media screen and (max-width:1000px){
	.body{
		width :80%;
	}

	#firstPage{
		margin:20% 10%;
	}


}
@media screen and (max-width:600px){
	.body{
		width :70%;
	}
	#firstPage{
		margin:30% 5%;
	}
}
